name: mypy

on: [push, pull_request] 


jobs:
  mypy:
    name: Type Check with mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python_version: "3.8"
      - run: "python -m pip install -r ci-requirements.txt"
        name: Install mypy
      - run: "python -m mypy ."
        name: Type Checking with mypy
